{% extends "base.html" %}


{% block content %}

<h1>Condition of use:</h1>


<div class="container-fluid">
  <h1 class="text-black text-center m-5">Terms of Use:</h1>
  <h1 class="text-black text-center">Fourth page</h1>
  <h1 class="display-1 text-black text-center m-5">4</h1>
</div>

<nav>
  <ul class="pagination justify-content-center fixed-bottom mb-5">
    <li class="page-item" title="Previous">
      <a href="{{url_for('cond3')}}" class="page-link rounded-circle m-1"> <i class="fas fa-chevron-left text-primary"></i>  </a>
    </li>
    <li class="page-item"><a href="{{url_for('cond')}}" class="page-link rounded-circle m-1">1</a> </li>
    <li class="page-item "><a href="{{url_for('cond2')}}" class="page-link rounded-circle m-1">2</a> </li>
    <li class="page-item"><a href="{{url_for('cond3')}}" class="page-link rounded-circle m-1">3</a> </li>
    <li class="page-item active"><a href="{{url_for('cond4')}}" class="page-link rounded-circle m-1">4</a> </li>
    <li class="page-item"><a href="{{url_for('cond5')}}" class="page-link rounded-circle m-1">5</a> </li>
    <li class="page-item " title="Next">
      <a href="{{url_for('cond5')}}" class="page-link rounded-circle m-1"> <i class="fas fa-chevron-right text-primary"></i>  </a>
    </li>


  </ul>
</nav>

<div id="target">


Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<h3>GUIDELINES FOR REVIEWS</h3>



We may provide you areas on the Site to leave reviews or ratings. When posting a review, you must comply with the following criteria:

(1) you should have firsthand experience with the person/entity being reviewed;

(2) your reviews should not contain offensive profanity, or abusive, racist, offensive, or hate language;

(3) your reviews should not contain discriminatory references based on religion, race, gender, national origin, age, marital status, sexual orientation, or disability;

(4) your reviews should not contain references to illegal activity;

(5) you should not be affiliated with competitors if posting negative reviews;



</div>

<!-- <img src="../static/condition_of_use.png" alt=""> -->

<a href="{{url_for('login')}}">Back to login</a>





{% endblock %}
