{% extends "base.html" %}


{% block content %}

<h1>Condition of use:</h1>


<div class="container-fluid">
  <h1 class="text-black text-center m-5">Terms of Use:</h1>
  <h1 class="text-black text-center">Second page</h1>
  <h1 class="display-1 text-black text-center m-5">2</h1>
</div>

<nav>
  <ul class="pagination justify-content-center fixed-bottom mb-5">
    <li class="page-item" title="Previous">
      <a href="{{url_for('cond')}}" class="page-link rounded-circle m-1"> <i class="fas fa-chevron-left text-primary"></i>  </a>
    </li>
    <li class="page-item"><a href="{{url_for('cond')}}" class="page-link rounded-circle m-1">1</a> </li>
    <li class="page-item active"><a href="{{url_for('cond2')}}" class="page-link rounded-circle m-1">2</a> </li>
    <li class="page-item"><a href="{{url_for('cond3')}}" class="page-link rounded-circle m-1">3</a> </li>
    <li class="page-item"><a href="{{url_for('cond4')}}" class="page-link rounded-circle m-1">4</a> </li>
    <li class="page-item"><a href="{{url_for('cond5')}}" class="page-link rounded-circle m-1">5</a> </li>
    <li class="page-item " title="Next">
      <a href="{{url_for('cond3')}}" class="page-link rounded-circle m-1"> <i class="fas fa-chevron-right text-primary"></i>  </a>
    </li>


  </ul>
</nav>

<div id="target">


Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<h3>PRIVACY POLICY</h3>

We care about data privacy and security. Please review our Privacy Policy <a href="{{url_for('privacy_notice')}}">[CLICK HERE]</a>/posted on the Site]. By using the Site, you agree to be bound by our Privacy Policy, which is incorporated into these Terms and Conditions. Please be advised the Site is hosted in the United States.

If you access the Site from the European Union, Asia, or any other region of the world with laws or other requirements governing personal data collection, use, or disclosure that differ from applicable laws in the United States, then through your continued use of the Site, you are transferring your data to the United States, and you expressly consent to have your data transferred to and processed in the United States.

[Further, we do not knowingly accept, request, or solicit information from children or knowingly market to children. Therefore, in accordance with the U.S. Children’s Online Privacy Protection Act, if we receive actual knowledge that anyone under the age of 13 has provided personal information to us without the requisite and verifiable parental consent, we will delete that information from the Site as quickly as is reasonably practical.]



</div>

<!-- <img src="../static/condition_of_use.png" alt=""> -->

<a href="{{url_for('login')}}">Back to login</a>





{% endblock %}
