{% extends "base.html" %}


{% block content %}

<h3>Hello, {{current_user.first_name}}</h3>

<h1>Welcome to a PROJECT form</h1><br>
<h2>please state what are you requirements:</h2>

<!-- <form action="">
    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other<br>
    <input type="radio" name="city" value="dallas"> Dallas<br>
    <input type="radio" name="city" value="london"> London<br>
    <input type="radio" name="city" value="other"> Other
</form> -->

{% from "_formhelpers.html" import render_field %}

  <form class="form-group" method="POST">
    {{form.hidden_tag()}}
<hr>

<div class="form-group col-6 p-2">
  {{form.title.label(class="form-control-label")}}
  {{form.title(class="form-control form-control-lg")}}
</div>

<div class="form-group col-6 p-2">
  {{form.text.label(class="form-control-label")}}
  {{form.text(class="form-control form-control-lg")}}
</div>

<div class="form-group col-6 p-2">
  {{form.language.label(class="form-control-label")}}
  {{form.language(class="form-control form-control-lg")}}
</div>

<div class="form-group col-6 p-2">
  {{form.protocol.label(class="form-control-label")}}
  {{form.protocol(class="form-control form-control-lg")}}
</div>


<div class="form-group col-6 p-2">
  {{form.format.label(class="form-control-label")}}
  {{form.format(class="form-control form-control-lg")}}
</div>

<div class="form-group">
  {{form.submit(class="btn btn-outline-info")}}

</div>




test forms



<hr>
saved for later <br><br><br>



{% endblock %}
